# App Config
APP_NAME=pb-backend
APP_ENV=development
# APP_DEBUG=rust_axum_api=debug,sqlx=debug,tower_http=debug
APP_DEBUG=trace,hyper=off,mio=off,want=off
APP_HOST=0.0.0.0
APP_PORT=8080


# Databse Config
DATABASE_URL="postgres://username:password@localhost:5432/database?options=-c search_path%3Dschema"

# Jwt Config
JWT_SECRET=your_jwt_secret_key

# Mailer config
MAILER_SMTP_ENABLE=true
MAILER_USE_CUSTOM_CONFIGS=true
MAILER_ADDRESS_FROM=test@test.com

# The following are used if custom mailer configs is true
MAILER_SMTP_HOST=smtp.gmail.com
MAILER_SMTP_PORT=465
MAILER_SMTP_SECURE=true
MAILER_SMTP_USER=test@test.com
MAILER_SMTP_PASSWORD=password
MAILER_TLS_REJECT_UNAUTHORIZED=false

# Uploader Config
SERVER_UPLOAD_DIR=./dir
