APP_NAME=pb-backend
APP_ENV=development
APP_DEBUG=rust_axum_api=debug,sqlx=debug,tower_http=debug

DATABASE_URL=postgres://username:password@localhost:5432/database

JWT_SECRET=your_jwt_secret_key

SERVER_HOST=0.0.0.0
SERVER_PORT=8081

SERVER_UPLOAD_DIR=./dir
