APP_NAME=pb-backend
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgres://postgres:password@localhost:5432/pb_db

JWT_SECRET=your_jwt_secret_key

SERVER_HOST=0.0.0.0
SERVER_PORT=8081

SERVER_UPLOAD_DIR=./dir
